//import variables
@use "variables/colors" as *;
//import mixins
@use "helper/mixins" as *;
//import style fonts for footer
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
//font for root
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  @include fonts;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
 
  .the-container {
    width: 375px;
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
        box-shadow: 0px 5px 2px 0px #00000026;
        margin-bottom: 3px;
        align-items: center;
      .go-back {
        font-size: 25px;
        color: $footer;
        margin-left: 20px;
        margin-top: 10px;
        text-decoration: none;
      }
      .box-logo{
       margin: auto;
       margin-top: 30px;
        width: 60%;
        .logo-mobile{
          width: 180px;
        }
      }
    }
    main {
      background-color: $menu-restau;
      margin-top: 0px;
      width: 100%;
      margin: auto;
      background-clip: border-box;
      .img-header {
        width: 100%;
        height: 210px;
        object-fit: cover;
        object-position: center;
      }
        .first-card {
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
          background-color:$menu-restau ;
          padding: 10px;
          transform: translateY(-28px);
          .one {
            display: flex;
            align-items: center;
            padding-top: 20px;
            margin-bottom: 30px;
            opacity: 1;
            .for-title {
              width: 270px;
              padding-left: 10px;
              .menu-title {
                @include fonts-footer;
                margin: 0px;
                font-size: 26px;
                font-weight: 400;
              }
            }
            .heart-color{
              font-size: 25px;
              margin-left: 10px;
            }
            .heart-color:hover{
              background-image: linear-gradient( $primary, $secondary );
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
              font-weight: 600;
              cursor: pointer;
              transition: 1s ;
            }
          }
          .box-card-title {
            margin-bottom: 15px;
            .card-title {
              font-size: 17px;
              font-weight: 300;
              text-transform: uppercase;
              margin-bottom: 5px;
              border-bottom: 4px solid $badge-back;
              width: 10%;
              padding-bottom: 4px;
            }
          }
        
          }
          .cards {
            display: flex;
            justify-content: space-between;
            align-items:end;
            margin-bottom: 15px;
            background-color: $white;
            border-radius: 15px;
            box-shadow: 0px 4px  15px #0000001A;
            height: 70px;
       
            cursor: pointer;
            .menu{
            padding: 10px;
           }
            .txt-title {
              margin: 0px;
              margin-bottom: 10px;
              font-size: 18px;
              white-space: nowrap;
              overflow: visible;
              width: 200px;
           }
            .desc-txt {
              margin: 0px;
              font-size: 15px;
              width: 200px;
              white-space: nowrap;
              overflow: visible;
            }
            .price-box {
              display: flex;
              height: 100%;
              cursor: pointer;
              .price {
                font-weight: 600;
                font-size: 15px;
                align-self: flex-end;
                padding-bottom: 10px;
                margin-right: 10px;
              }
              .show-price {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 0px;
                background-color: $badge-back;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                overflow: hidden;
                cursor: pointer;
                .click-appear {
                  font-size: 20px;
                  @include centering;
                  color: $white;
                }
              }
            }
          }
          .cards:hover .show-price {
            width: 60px;
            transition: 1s;
          }
          .cards:hover .desc-txt {
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .cards:hover .txt-title{
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .choose-it{
            @include centering;
            margin-top: 40px;
            .choose{
              @include big-round;
              transition: 300ms;
              cursor: pointer;
              transition-timing-function: ease-out;
              width: 200px;
            }
            .choose:hover{
              transform: scale(1.1);
              opacity: 0.9;
              box-shadow: 0px 4px 15px 0px #00000059;
            }
          }
          .entries {
            .box-card-title,.cards{ 
              @include animation-entries;
            }
          }
          .dishes {
           @include animation-dishes;
          }
          .desserts {
           @include animation-desserts
          }
    }
    .end {
      background-color: $footer;
      padding: 30px;
      height: max-content;
     .foot-title {
        @include fonts-footer;
        color: $white;
        font-size: 18px;
        font-weight: 400;
        margin-top: 0px;
      }
      .link {
        display: block;
        color: $white;
        text-decoration: none;
        padding: 5px;
       .foot-icone {
         margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (min-width:425px) and (max-width:767px) {
  body {
    .the-container {
      width: 100%;
    }
  }
}
@media screen and (min-width:768px)and (max-width:1024px) {
  body{
    .the-container {
      width: 100%;
      justify-content: center;
      .header {
        height: 80px;
        margin-bottom: 0px;
        box-shadow: none;
        .box-logo {
          margin: auto;
          width: auto;
          .logo-mobile {
            width: 200px;
            margin-right: 80px;
          }
        }
      }
      main {
        background-color: $white;
        .img-header{
          width: 100%;
          height: 300px;
        }
        .first-card {
          width: 70%;
          margin: auto;
          background-color:$menu-restau;
          transform: translateY(0);
          padding: 0px;
          border-radius: 0px;
          .entries {
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            padding-top:  20px;
            transform: translateY(-25px);
            background-clip: padding-box;
            background-color:$menu-restau;
            width: 100%;
            .one {
              display: flex;
              justify-content: center;
              align-items: center;
              .for-title {
                padding: 0px;
                .menu-title {
                  width: 100%;
                }
              }
            }
          }
          .dishes{
            margin-bottom: 40px;
          }
          .box-card-title {
            width: 70%;
            margin: auto;
            margin-bottom: 15px;
            .card-title {
              border-bottom: 4px solid $badge-back;
            }
          }
          .cards {
            width: 70%;
            margin: auto;
            margin-bottom: 20px;
            .desc-txt , .txt-title {
              width: 100%;
            }
          }
          .choose-it {
            margin-bottom:0px;
            padding-bottom:40px;
          }
        }
      }
      .end{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: end;
        padding:40px 0px 20px 0px;
        .foot-title {
          margin-right: 70px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .link-footer{
          display: flex;
          order: 1;
          margin-right: 20px;
        }
        .link-footer-2 {
          display: flex;
          margin-left:25px ;
          margin-right: 50px;
        }
        .link {
          font-weight: 200;
          font-size: 13px;
        }
      }
    }
  }
}

@media  screen and (min-width:1025px)  {
  body {
    .the-container {
      width: 100%;
      .header {
        height: 80px;
        margin-bottom: 0px;
        box-shadow: none;
        .box-logo {
          margin: auto;
          width: auto;
          .logo-mobile {
            width: 200px;
            margin-right: 70px;
          }
        }
      }
      main {
        background-color: $white;
        background-color: $white;
        .img-header{
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: center 55%;
        }
        .first-card {
          width: 70%;
          margin: auto;
          background-color:$menu-restau;
          transform: translateY(0);
          padding: 0px;
          border-radius: 0px;
          .entries {
            padding-top:  20px;
            transform: translateY(-30px);
            background-clip: padding-box;
            background-color:$menu-restau;
            border-top-left-radius: 35px;
            border-top-right-radius: 35px;
            .one {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 40px;
              .for-title {
                width: 250px;
                .menu-title {
                  width: 100%;
                }
              }
            }
          }
          .dishes {
            margin-bottom: 40px;
          }
          .box-card-title {
            width: 60%;
            margin: auto;
            margin-bottom: 20px;
            .card-title {
              border-bottom: 4px solid $badge-back;
              width: 7%;
              }
          }
          .cards {
            width: 60%;
            margin: auto;
            margin-bottom: 20px;
              .desc-txt , .txt-title {
                width: 100%;
              }
          }
          .choose-it{
            margin-bottom: 0px;
            padding-bottom: 40px;
          }
        }
      }
      .end{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: end;
        padding:40px 0px 20px 0px;
        .foot-title {
          margin-right: 80px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .link-footer{
          display: flex;
          order: 1;
          margin-right: 20px;
        }
        .link-footer-2 {
          display: flex;
          margin-left:25px ;
          margin-right: 80px;
        }
        .link {
          font-weight: 200;
          font-size: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}


