//Variables
$alt-grey: #EAEAEA;
$white:#FFFFFF;
$menu-restau:#f6f6f6;
$primary:#9356DC;
$secondary:#FF79DA;
$footer:  #353535;
$badge-txt:#008766;
$badge-back:#99E2D0;
$max-tablette:"max-width:1024px";
